.vue-link-active-class{
    background-color: #1f7605!important;
    color: #ffffff!important;
}
.pointer{
    cursor: pointer;
}

.blue{
    color: $blue;
}
.red{
    color: $red;
}
.purple{
    color: $purple;
}
.yellow{
    color: $yellow;
}